/* ==UserStyle==
@name           ChatGPT Dark Aero Green Theme
@namespace      github.com
@version        2.0.0
@description    Dark and Green Dark Frutiger Aero theme for ChatGPT
@author         RocKo24
==/UserStyle== */

@-moz-document url-prefix("https://chatgpt.com/") {
    :root{
        --text-primary: #fff;
    }

    /* Imagen de fondo */
    main {
        position: relative;
        background: url("https://github.com/RocKoGX/Stylus/raw/main/ChatGPT%20Themes/ChatGPT%20Dark%20Aero%20(Green%20Theme)/backgrounds/dark-aero-green.jpg?raw=true");
        background-size: cover;
    }

    main::before {
        content: "";
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
        pointer-events: none;
    }

    main > * {
        position: relative;
        z-index: 2;
    }
    
    /* Caja de envio de mensaje a ChatGPT (INPUT PRINCIPAL) (16-06-25) */
    .dark\:bg-\[\#303030\]:is(.dark *) {
    background: linear-gradient(135deg, #3f7d5c55 70px, transparent 100px), linear-gradient(225deg, #3f7d5c55 70px, transparent 100px), linear-gradient(54deg, #0002 0 4%, #6661 6% 6%, #0002 8% 10%, #0002 15% 16%, #aaa1 17% 18%, #0002 23% 24%, #bbb2 25% 26%, #0002 31% 33%, #0002 34% 34.5%, #bbb2 36% 40%, #0002 41% 41.5%, #355b4755 44% 45%, #355b4755 46% 47%, #0002 48% 49%, #0002 50% 50.5%, #29383045 56% 56.5%, #25583d45 57% 63%, #26433355 67% 69%, #264d3855 69.5% 70%, #0002 73.5% 74%, #1e3e2d55 74.5% 79%, #0002 80% 84%, #aaa2 85% 86%, #0002 87%, #355b4755 90%) 0 / 100vw 100vh no-repeat fixed;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), /* Borde inferior */
            inset 1px 0 0 rgba(255, 255, 255, 0.2), /* Borde derecho */
            inset -1px 0 0 rgba(255, 255, 255, 0.2), /* Borde izquierdo */
            inset 0 -1px 0 rgba(255, 255, 255, 0.2); /* Borde superior */
        background-attachment: fixed;
    }
    
    /* Caja de envio de mensaje a ChatGPT (INPUT PRINCIPAL) pero con un fondo oscuro abajo (16-06-25) */
    .dark\:bg-\[\#303030\]:is(.dark *)::after {
        content: "";
        position: absolute;
        inset: 0; /* top: 0; right: 0; bottom: 0; left: 0 */
        background: linear-gradient(to bottom, #141414 0%, #131313 53%, #020202 100%);
        opacity: 0.95; /* Opcional: si quieres que se vea encima parcialmente */
        z-index: -1; /* Asegúrate que esté por encima del fondo original */
        pointer-events: none; /* Para que no bloquee clics si es decorativo */
        border-radius: 28px;
    }
    
      

    /* Caja de editar mensaje a ChatGPT (16-06-25) */
    .bg-token-main-surface-tertiary {
        
    background: linear-gradient(135deg, #3f7d5c55 70px, transparent 100px), linear-gradient(225deg, #3f7d5c55 70px, transparent 100px), linear-gradient(54deg, #0002 0 4%, #6661 6% 6%, #0002 8% 10%, #0002 15% 16%, #aaa1 17% 18%, #0002 23% 24%, #bbb2 25% 26%, #0002 31% 33%, #0002 34% 34.5%, #bbb2 36% 40%, #0002 41% 41.5%, #355b4755 44% 45%, #355b4755 46% 47%, #0002 48% 49%, #0002 50% 50.5%, #29383045 56% 56.5%, #25583d45 57% 63%, #26433355 67% 69%, #264d3855 69.5% 70%, #0002 73.5% 74%, #1e3e2d55 74.5% 79%, #0002 80% 84%, #aaa2 85% 86%, #0002 87%, #355b4755 90%) 0 / 100vw 100vh no-repeat fixed;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), /* Borde inferior */
            inset 1px 0 0 rgba(255, 255, 255, 0.2), /* Borde derecho */
            inset -1px 0 0 rgba(255, 255, 255, 0.2), /* Borde izquierdo */
            inset 0 -1px 0 rgba(255, 255, 255, 0.2); /* Borde superior */
        background-attachment: fixed;
    }

    /* Barra superior */
    #page-header {
        /*background: transparent;*/
    background: linear-gradient(135deg, #3f7d5c55 70px, transparent 100px), linear-gradient(225deg, #3f7d5c55 70px, transparent 100px), linear-gradient(54deg, #0002 0 4%, #6661 6% 6%, #0002 8% 10%, #0002 15% 16%, #aaa1 17% 18%, #0002 23% 24%, #bbb2 25% 26%, #0002 31% 33%, #0002 34% 34.5%, #bbb2 36% 40%, #0002 41% 41.5%, #355b4755 44% 45%, #355b4755 46% 47%, #0002 48% 49%, #0002 50% 50.5%, #0002 56% 56.5%, #3f7d5c45 57% 63%, #3f7d5c55 67% 69%, #3f7d5c55 69.5% 70%, #0002 73.5% 74%, #2a443655 74.5% 79%, #0002 80% 84%, #aaa2 85% 86%, #0002 87%, #355b4755 90%) 0 / 100vw 100vh no-repeat fixed;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), /* Borde inferior */
                inset 1px 0 0 rgba(255, 255, 255, 0.2), /* Borde derecho */
                inset -1px 0 0 rgba(255, 255, 255, 0.2), /* Borde izquierdo */
                inset 0 -1px 0 rgba(255, 255, 255, 0.2); /* Borde superior */
    }
    

    /* Fondo izquierdo (16-06-25) */
    .bg-token-bg-elevated-secondary {
        /*background: url("https://github.com/j0nat/Windows-Live-Messenger/blob/master/WLMClient/Content/Interface/chatWindowTopBar.png?raw=true");*/
        background: linear-gradient(to bottom, #141414 0%, #131313 53%, #020202 100%);
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    /* Fondo derecho para referencia (16-06-25) */
    .bg-token-sidebar-surface-primary .bg-token-bg-primary {
        background: linear-gradient(to bottom, #141414 0%, #131313 53%, #020202 100%);
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    th.bg-token-main-surface-primary {
        background: linear-gradient(to bottom, #141414 0%, #131313 53%, #020202 100%);
    }
    
    /* Fondo para ver imagenes creadas por ChatGPT (16-06-25) */
    div[data-testid="modal-image-gen-lightbox"]  {
        background: linear-gradient(to bottom, #141414 0%, #131313 53%, #020202 100%);
    }
    
    /* Barra superior al mostrar referencia (cuadro) */
    .dark\:bg-token-main-surface-tertiary:is(.dark *) {
        background: linear-gradient(135deg, #3f7d5c55 70px, transparent 100px), linear-gradient(225deg, #3f7d5c55 70px, transparent 100px), linear-gradient(54deg, #0002 0 4%, #6661 6% 6%, #0002 8% 10%, #0002 15% 16%, #aaa1 17% 18%, #0002 23% 24%, #bbb2 25% 26%, #0002 31% 33%, #0002 34% 34.5%, #bbb2 36% 40%, #0002 41% 41.5%, #355b4755 44% 45%, #355b4755 46% 47%, #0002 48% 49%, #0002 50% 50.5%, #0002 56% 56.5%, #3f7d5c45 57% 63%, #3f7d5c55 67% 69%, #3f7d5c55 69.5% 70%, #0002 73.5% 74%, #2a443655 74.5% 79%, #0002 80% 84%, #aaa2 85% 86%, #0002 87%, #355b4755 90%) 0 / 100vw 100vh no-repeat fixed;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), /* Borde inferior */
            inset 1px 0 0 rgba(255, 255, 255, 0.2), /* Borde derecho */
            inset -1px 0 0 rgba(255, 255, 255, 0.2), /* Borde izquierdo */
            inset 0 -1px 0 rgba(255, 255, 255, 0.2); /* Borde superior */
    }
    
    /* Parte inferior al mostrar referencia (cuadro) */
    .dark\:bg-token-main-surface-secondary:is(.dark *) {
        background: linear-gradient(to bottom, #141414 0%, #131313 53%, #000 100%);
    }
    
    /* Hover al buscar un chat */
    .cursor-pointer .dark\:bg-token-main-surface-secondary:is(.dark *) {
        background: linear-gradient(to bottom, #3f7d5c55, #9addb955 50%, #3f7d5c55 50%, #3f7d5c55);
        text-decoration: none;
        outline: solid thin rgba(0, 0, 0, .5);
        box-shadow: inset 0 0 0 1px #0f75;
    }


    /* Conversacion seleccionada en la parte izquierda (16-06-25) */
    
    .__menu-item:not(:disabled):not([data-disabled]):active:not(:has([data-trailing-button]:hover)), .__menu-item:not(:disabled):not([data-disabled])[data-active] {
        background-color: rgba(0, 128, 81, 0.8);
        background: radial-gradient(farthest-corner at bottom center, rgba(29, 196, 82, .7), transparent), linear-gradient(to bottom, rgba(0, 100, 81, 0.72), rgba(0, 128, 81, 0.8));
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
        border: 1px solid rgba(0, 128, 81, 0.8);
        color: rgb(255, 255, 255);
        position: relative;
        text-shadow: 0 2px 0.5em #0003
    }
    
   
    /* Hover al intentar seleccionar una conversacion (16-06-25) */
    @media (hover: hover) {
        .__menu-item:not(:disabled):not([data-disabled]):hover {
            background: linear-gradient(to bottom, #3f7d5c55, #9addb955 50%, #3f7d5c55 50%, #3f7d5c55);
            text-decoration: none;
            outline: solid thin rgba(0, 0, 0, .5);
            box-shadow: inset 0 0 0 1px #0f75;
        }
    }
    
    
    /* CHATGPT Messages Fonts */
    .dark .dark\:prose-invert {
        --tw-prose-bold: #1db96c;   /* Mensaje en negrita */
        --tw-prose-counters: #1db96c; /* Enumeracion */
        --tw-prose-bullets: #1db96c;
        --tw-prose-hr: #0a4327;     /* Separador */
        
        --tw-prose-quotes: var(--gray-750);
        --tw-prose-quote-borders: var(--tw-prose-invert-quote-borders);
        --tw-prose-captions: var(--tw-prose-invert-captions);
        --tw-prose-code: var(--tw-prose-invert-code);
        --tw-prose-pre-code: var(--tw-prose-invert-pre-code);
        --tw-prose-pre-bg: var(--tw-prose-invert-pre-bg);
        --tw-prose-th-borders: var(--tw-prose-invert-th-borders);
        --tw-prose-td-borders: var(--tw-prose-invert-td-borders);
    }
    
 
    
    /* ==========|| Iconos estilo Frutiger Aero para botones en GENERAL ||========== */
    button, input:where([type=button]), input:where([type=reset]), input:where([type=submit]) {
        background-color: rgba(0, 128, 81, 0.8); /* Verde oscuro con algo de transparencia */
        background: radial-gradient(farthest-corner at bottom center, rgba(29, 196, 82, .7), transparent), linear-gradient(to bottom, rgba(0, 100, 81, 0.72), rgba(0, 128, 81, 0.8));
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
        border: 1px solid rgba(0, 128, 81, 0.8);
        color: rgba(255, 255, 255, .8); /* Texto en verde oscuro */
        position: relative;
        text-shadow: 0 2px 0.5em #0003; /* Sombra del texto en negro suave */
        border-radius: 8px;
    }
    
    /* Botones para la ista de configuración (16-06-25) */
    div[role="tablist"] button{
        background: none;
        box-shadow: none;
        border: none;
    }
    
    /* Boton de tres puntos en chat transparente */
    button[class="__menu-item-trailing-btn"]{
        background: none;
        box-shadow: none;
        border: none;
    }
    
    /* Boton de tres puntos en chat transparente */
    button[class="w-full"]{
        background: none;
        box-shadow: none;
        border: none;
    }
    
    
    /* Boton de Copiar codigo transparente (16-06-25) */
    button.flex.gap-1.items-center {
        background: transparent;
        border: transparent;
        box-shadow: 0 4px 4px rgba(0, 0, 0, .17);
    }
    
    button[data-testid="profile-button"]{
        background: none;
        box-shadow: none;
        border: none;
    }
    
    /* Botones Rojo para indicar peligro */ 
    button.btn.relative.btn-danger-outline, button.btn.relative.btn-danger{
        background-color: rgba(128, 0, 0, .8);
        background: radial-gradient(farthest-corner at bottom center, rgba(196, 29, 29, .7), transparent), linear-gradient(to bottom, rgba(100, 0, 0, .72), rgba(128, 0, 0, .8));
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
        border: 1px solid rgba(128, 0, 0, .8);
        color: rgba(255, 255, 255, .8);
        position: relative;
        text-shadow: 0 2px 0.5em #0003;
    }
    
    /* Botón para cancelar mensaje al editar */
    .flex.justify-end.gap-2 .btn.relative.btn-secondary{
        background: linear-gradient(to bottom, #3f7d5c55, #9addb955 50%, #3f7d5c55 50%, #3f7d5c55);
        text-decoration: none;
        outline: solid thin rgba(0, 0, 0, .5);
        box-shadow: inset 0 0 0 1px #0f75;
    }


    /* Color de codigo generado */
    code {
        background: linear-gradient(to bottom, #003300b0, #004d00b0 50%, #004d00b0 50%, #002200fc);
    }

   
   
    /* Alerta que dice "Es util esta conversacion..." */
    .dark .dark\:border-gray-700 {
        --tw-border-opacity: 1;
            background: linear-gradient(to bottom, #3f7d5c55, #9addb955 50%, #3f7d5c55 50%, #3f7d5c55);
            text-decoration: none;
            outline: solid thin rgba(0, 0, 0, .5);
            box-shadow: inset 0 0 0 1px #0f75;
    }
    
  
     /* Explorar GPT: Cuadros de "Destacado" (16-06-25) */
    .dark .dark\:bg-gray-700 {
        background: linear-gradient(to bottom, #3f7d5c55, #9addb955 50%, #3f7d5c55 50%, #3f7d5c55);
        text-decoration: none;
        outline: solid thin rgba(0, 0, 0, .5);
        box-shadow: inset 0 0 0 1px #0f75;
    }
    
    /* Explorar GPT: Hover para cuadros de "Destacado" (16-06-25) */
    @media (hover: hover) {
        .hover\:bg-token-main-surface-secondary:hover {
            background: linear-gradient(to bottom, #3f7d5c55, #9addb955 50%, #3f7d5c55 50%, #3f7d5c55);
            text-decoration: none;
            outline: solid thin rgba(0, 0, 0, .5);
            box-shadow: inset 0 0 0 1px #0f75;
        }
    }
    
    
    .dark\:text-token-text-tertiary:is(.dark *) {   /* font de referencias p1 */
        color: #189759;
    }
    
    .dark\:\!text-token-text-tertiary:is(.dark *) {   /* font de referencias p2 */
        color: #189759 !important;
    }
    
    [dir=ltr] .prose :where(blockquote):not(:where([class~=not-prose] *)) { /* citado */
        border-left-color: #1db96c;
        border-left-width: .25rem;
        padding-left: 1em;
        color: #07e779;
    }
    
    .popover {  /* Fondo para los popups */
      background: linear-gradient(to bottom, #141414 0%, #131313 53%, #000 100%);
    }
    
    
    .bg-token-message-surface{      /* Mensaje que envío a chatgpt */
    background: linear-gradient(135deg, #3f7d5c55 70px, transparent 100px), linear-gradient(225deg, #3f7d5c55 70px, transparent 100px), linear-gradient(54deg, #0002 0 4%, #6661 6% 6%, #0002 8% 10%, #0002 15% 16%, #aaa1 17% 18%, #0002 23% 24%, #bbb2 25% 26%, #0002 31% 33%, #0002 34% 34.5%, #bbb2 36% 40%, #0002 41% 41.5%, #355b4755 44% 45%, #355b4755 46% 47%, #0002 48% 49%, #0002 50% 50.5%, #29383045 56% 56.5%, #25583d45 57% 63%, #26433355 67% 69%, #264d3855 69.5% 70%, #0002 73.5% 74%, #1e3e2d55 74.5% 79%, #0002 80% 84%, #aaa2 85% 86%, #0002 87%, #355b4755 90%) 0 / 100vw 100vh no-repeat fixed;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), /* Borde inferior */
            inset 1px 0 0 rgba(255, 255, 255, 0.2), /* Borde derecho */
            inset -1px 0 0 rgba(255, 255, 255, 0.2), /* Borde izquierdo */
            inset 0 -1px 0 rgba(255, 255, 255, 0.2); /* Borde superior */
        background-attachment: fixed;
    }
    
    .bg-token-sidebar-surface-primary {  /* Fondo de Resultado en Codigo por ChatGPT (16-06-25) */
        background: linear-gradient(to bottom, #141414 0%, #131313 53%, #000 100%);
        background-size: cover;
        background-repeat: no-repeat;
     }
    
    .relative.flex.w-full.items-end.py-3.pl-3 { /* borde de mensaje para chatear con gpt mejorado (25.03.25 */
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 1px 0 0 rgba(255, 255, 255, 0.2), inset -1px 0 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(255, 255, 255, 0.2);
    }

    /* Botoncitos pequeños para redirigir a la referencia */
    .dark\:bg-\[\#303030\]\!:is(.dark *) {
        background: linear-gradient(to bottom, #0f411e 0%, #0a2518 53%, #000e08 100%);
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    /* Fondo para planes de ChatGPT */
    .dark\:bg-\[\#353535\]:is(.dark *) {
        background: linear-gradient(to bottom, #141414 0%, #131313 53%, #000 100%);
    }
    
    header[data-landing-page-load-target="true"]{
    background: linear-gradient(135deg, #3f7d5c55 70px, transparent 100px), linear-gradient(225deg, #3f7d5c55 70px, transparent 100px), linear-gradient(54deg, #0002 0 4%, #6661 6% 6%, #0002 8% 10%, #0002 15% 16%, #aaa1 17% 18%, #0002 23% 24%, #bbb2 25% 26%, #0002 31% 33%, #0002 34% 34.5%, #bbb2 36% 40%, #0002 41% 41.5%, #355b4755 44% 45%, #355b4755 46% 47%, #0002 48% 49%, #0002 50% 50.5%, #0002 56% 56.5%, #3f7d5c45 57% 63%, #3f7d5c55 67% 69%, #3f7d5c55 69.5% 70%, #0002 73.5% 74%, #2a443655 74.5% 79%, #0002 80% 84%, #aaa2 85% 86%, #0002 87%, #355b4755 90%) 0 / 100vw 100vh no-repeat fixed;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), /* Borde inferior */
                inset 1px 0 0 rgba(255, 255, 255, 0.2), /* Borde derecho */
                inset -1px 0 0 rgba(255, 255, 255, 0.2), /* Borde izquierdo */
                inset 0 -1px 0 rgba(255, 255, 255, 0.2); /* Borde superior */
    }
    
}