/* ==UserStyle==
@name           Tecsup Dark Mode Blue Theme
@namespace      https://github.com/RocKoGX/Stylus
@version        1.1
@description    Dark and Blue Theme for Tecsup's Page
@author         RocKo
==/UserStyle== */

@-moz-document url-prefix("https://tecsup.instructure.com") {
    body {
        background: url("http://imgfz.com/i/I8xZKOG.gif") center/cover fixed; /* Fondo personalizado */
        color: #fff;
    }
    
    .ic-Dashboard-header__layout {  /* Dashboard - cabecera*/
        border-bottom: 1px solid #434343;
        background: #000000d6;
        color: #fff;
    }
    
    #right-side{    /* Lado derecho de Tecsup */
        background: #000000a1;
        border-radius: 10px;
        padding: 10px;
        border: 1px solid #00b1e2;
        box-shadow: 0 0 20px #00b1e2;
        width: 30vh;
    }
    
    #right-side .events_list .event-details:after, #right-side .events_list .todo-details:after, #right-side .to-do-list .event-details:after, #right-side .to-do-list .todo-details:after {    /* pestañitas de lado derecho */
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #000 80%);
    }
    
    #right-side h2, #right-side .h2 {   /* Borde entre el titulo y el contenido */
        border-bottom: 1px solid #434343;
    }
    
    .css-tpuo6v-text {  /* texto 1 */
        color: rgb(194, 194, 194);
    }
        
    .css-2bn4c9-view--inlineBlock-inlineListItem {  /* Texto 2 */
        color: rgb(116, 116, 116);
    } 
    
    .ic-app-header {    /* lado izquierdo */
        box-sizing: border-box;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        width: 54px;
        z-index: 100;
        background: linear-gradient(#00b1e2cc 30%, #003645d9);
    }
    
    .ic-app-header__logomark-container {
        background: transparent;
    }
    
    .ic-DashboardCard { /* card abajo */
        box-shadow: 0 0 10px #00b1e2;
        border: 1px solid #00b2e3;
        background: #000000d6;
    }
    
    .ic-DashboardCard__header_content { /* card arriba */
        box-sizing: border-box;
        padding: 12px 18px 0;
        background: #000000d6;
    }
    
    .ic-DashboardCard__header-subtitle, .ic-DashboardCard__header-term {
        color: #c8c8c8;
    }
    
    .css-1gto5tw-tray, .global-nav-custom-tray {     /* pestaña de cursos */
        background-color: rgba(0, 0, 0, .64);
        backdrop-filter: blur(12px); /* Aplica el blur */
    }
    
    .css-kryo2y-view-listItem { /* texto para pestaña de cursos */
        color: rgb(219, 219, 219);
    }
    
    * {
        scrollbar-color: #6d6d6dd9 #000;
    }
    
    #expand_collapse_all, .Button.button-sidebar-wide.Button, .ui-button, .btn, .css-1rpus1y-baseButton__content, .css-1eaecfq-baseButton__content, .css-2412vo-radioInput__facade{    /* boton */
        background: radial-gradient(farthest-corner at bottom center, rgba(0, 177, 226, .7), transparent), linear-gradient(to bottom, rgba(0, 177, 226, 0.72), rgba(0, 177, 226, 0.8));
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
        border: 1px solid rgba(0, 177, 226, 0.8);
        color: #fff;
    }
    
    #expand_collapse_all:hover, .Button.button-sidebar-wide.Button:hover, .ui-button:hover, .btn:hover {    /* boton */
        background: radial-gradient(farthest-corner at bottom center, rgba(0, 177, 226, .7), transparent), linear-gradient(to bottom, rgba(50, 203, 246, .72), rgba(50, 203, 246, .8));
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
        border: 1px solid rgba(0, 177, 226, 0.8);
        color: #fff;
    }
    
    
    img { /* imagenes para botones verdes */
        background: linear-gradient(#81cc22, #355111);
        border-radius: 10px;
    }
    
    .ic-sidebar-logo img{
        background: transparent;
    }

    /* --------------------------------------- */
    /* MODULOS */
    /* --------------------------------------- */
    .header-bar {   /* cabecera */
        background-color: transparent;
        min-height: 33px;
        padding-bottom: 12px;
        display: flex;
        align-items: center;
    }
    
    .item-group-container {     /* Items de los moduos */
        background: rgba(0, 0, 0, .6);
    }
    
    .context_module_item.context_module_item_hover, .context_module_item:hover {    /* fondo molesto al pasar mouse */
        background-color: transparent;
    }
    
    .item-group-condensed .ig-header {  /* cabecera de cada item */
        background: linear-gradient(#00b1e2, #00536b);
        border: 1px solid #3e3e3e;
        color: #fff;
    }
    
    .item-group-condensed .ig-row { /* items de los modulos */
        background: #0000007a;
    }
    
    .ig-list .ig-row {      /* iconos */
        color: #afafaf;
        border: 1px solid #3e3e3e;
    }
    
    .ig-list .ig-row:hover {
        background-color: #00b1e236;
    }
    
    .ig-header .name {  /* texto de cabecera para cada modulo */
        color: #ebebeb;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, .5);
    }
    
    .ig-list .ig-row a.ig-title {
        color: #aeb9c1;
        text-decoration: none;
    }
    
    #breadcrumbs {  /* path del curso */
        background-color: transparent;
    }
    
    #breadcrumbs>ul>li+li:last-of-type a {  /* path del modulo */
        color: #ccd4da;
    }
    
    .list-view a.active {   /* pestaña color de font activa */
        border-left: 2px solid #44656c;
        color: #556f76;
    }
    
    
    /* --------------------------------------- */
    /* QUIZZES */
    /* --------------------------------------- */
    
    .ig-list .ig-row.ig-row-empty { /* quizz vacio */
        border: 1px solid #3e3e3e;
        background: rgba(0, 0, 0, .6);
    }
    
    textarea, input[type=text], input[type=password], input[type=datetime], input[type=datetime-local], input[type=date], input[type=month], input[type=time], input[type=week], input[type=number], input[type=email], input[type=url], input[type=search], input[type=tel], input[type=color], .uneditable-input {
        background-color: #1616168f;
        border: 1px solid #3e3e3e;
        backdrop-filter: blur(12px); /* Aplica el blur */
    }
    
    .quiz-submission, .question_editing {   /* Fondo de examen */
        background: #1616168f;
        border: 1px solid #3e3e3e;
        padding: 16px;
        font-size: 1rem;
    }
    
    #questions.assessment_results .question .header {   /* cabecera de pregunta en examen */
        background: linear-gradient(#00b1e2, #00536b);
    }
    
.question .header {
        border-bottom: 1px solid #3e3e3e;
    }
    
    .question {     /* fondo de pregunta */
        border: 1px solid #3e3e3e;
        background-color: #0000007a;
    }
    
    .question .header .question_points_holder { /* texto de puntaje por pregunta examen */
        color: #67deff;
    }

    .quiz_score .score_value {
        color: #67deff;
    }
    
    .description.user_content.enhanced p span{  /* quitar fondo blanco feo */
        background: transparent !important;
    }
    
    .description.user_content.enhanced p span strong{  /* resaltado las letras en negrita */
        background: rgb(82, 71, 20) !important;
    }
    
    .rubric_container .rubric_title {   /* cabecera de tablas */
        background: linear-gradient(#00b1e2, #00536b);
        border-top: 1px solid #3e3e3e;
        border-left: 1px solid #3e3e3e;
        border-right: 1px solid #3e3e3e;
    }
    
    .rubric_container thead th {    /* 2da cabecera de tablas */
        background: linear-gradient(#00b1e2, #00536b);
    }
    
    .rubric_container td, .rubric_container th {    /* bordes de tablas */
        border: 1px solid #3e3e3e;
    }
    
    .module-sequence-footer .module-sequence-footer-content {   /* borde entre info y botones */
        background: transparent;
        border-top: 1px solid #3e3e3e;
    }
    
    
    /* --------------------------------------- */
    /* GRADES */
    /* --------------------------------------- */
    
    table.summary td, table.summary tbody th {
        border-bottom: 1px solid #6a6a6a;
        background-color: transparent;
    }
    .ic-Table.ic-Table--hover-row tbody tr:hover, .ic-Table.ic-Table--hover-row tbody tr.ic-Table__row--bg-neutral:hover, .ic-Table.ic-Table--hover-row tbody tr.ic-Table__row--bg-success:hover, .ic-Table.ic-Table--hover-row tbody tr.ic-Table__row--bg-alert:hover, .ic-Table.ic-Table--hover-row tbody tr.ic-Table__row--bg-danger:hover {
        background-color: #00b1e236;
    }
    
    /* --------------------------------------- */
    /* IMBOX */
    /* --------------------------------------- */
    
    .css-vxe90h-view--inlineBlock { /* cabecera de imbox */
        /*color: rgb(45, 59, 69);*/
        background: #0000007a;
        border-color: #3e3e3e;
    }
    
    .css-h5qz9v-view {  /* fondo izquierdo */
        background-color: rgba(0, 0, 0, .64);
        backdrop-filter: blur(12px); /* Aplica el blur */
        border-color: #3e3e3e;
    }
    
    .css-1nwvobg-view { /* bordes */
        border-color: #3e3e3e;
    }
    
    .css-oydprd-view { /* bordes */
        border-color: #3e3e3e;
    }
    div.css-1nwvobg-view{   /* conversacion activa */
        background: #002d39;
    }
    
    /* --------------------------------------- */
    /* ASSIGNMENTS */
    /* --------------------------------------- */
    
    .css-6jm7bp-textInput__facade { /* barra de busqueda */
        border: 0.0625rem solid #3e3e3e;
        background: rgba(0, 0, 0, .81);
    }
    
    .element_toggler{   /* cabecera para cada asignatura */
        color: #ebebeb;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, .5);
    }
    
    /* --------------------------------------- */
    /* SYLLABUS */
    /* --------------------------------------- */
    
    #syllabus tr.date.date_passed td{   /* tabla */
        background: rgba(0, 0, 0, .6);
        
    }
    
    /* --------------------------------------- */
    /* OTROS */
    /* --------------------------------------- */
    
    .stream_header:hover {
        background: #00b1e236;
    }
    
    .recent_activity>li {
        position: relative;
        border-bottom: 1px solid #3e3e3e;
    }
    

}
